* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: linear-gradient( 120deg,rgb(54, 87, 81), rgb(60, 138, 127), rgb(10, 105, 93));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12rem 50rem;
    background-image: linear-gradient( 120deg,rgb(124, 77, 77), rgb(173, 75, 75), rgb(131, 26, 26));
    padding: 3rem;
}

h1, h2{
    margin: 1.5rem;
    padding: 1rem;
    font-size: 4.5rem;
}

button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: .5em;
    width: 10rem;
    background-color: teal;
    border: none;
    color: whitesmoke;
    cursor: pointer;
}



#save{
background: green;
transition: all .3s ease;
}

#save:hover {
    background: rgb(1, 189, 1);
    transform: scale(1.2);
}


#increment{
    background: rgb(0, 153, 255);
    transition: all .3s ease;
}


#increment:hover {
    background: rgb(1, 117, 194);
    transform: scale(1.2);